<header class="header">
    <nav class="navbar">
        <div class="nav-container">
            <a href="index.html" class="logo">{{ site_author }}</a>
            <ul class="nav-menu">
                <li><a href="index.html" class="nav-link">Home</a></li>
                <li><a href="books.html" class="nav-link">Books</a></li>
                <li><a href="blog.html" class="nav-link">Blog</a></li>
                <li><a href="interests.html" class="nav-link">Interests</a></li>
            </ul>
        </div>
    </nav>
</header>
